includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/jangregor/phpstan-prophecy/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon
    - vendor/phpat/phpat/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - vendor/ergebnis/phpstan-rules/rules.neon
    - vendor/timeweb/phpstan-enum/extension.neon

parameters:
    paths:
        - benchmarks
        - config
        - scripts
        - src
        - tests
        - tests-e2e/Laravel/tests/Feature
        - tests-e2e/Symfony/tests/Feature
        - types

    excludePaths:
        - tests-e2e/Laravel/vendor/*
        - tests-e2e/Symfony/vendor/*
        - tests-e2e/Symfony/tests/Feature/InitTest.php
        - '*.stub.php'
        - src/Frameworks/Laravel/Commands/MigrateSpatieCommand.php

    scanDirectories:
        - types

    universalObjectCratesClasses:
        - Pest\Mixins\Expectation

    tmpDir: .phpstan/cache

    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    editorUrlTitle: '%%relFile%%:%%line%%'

    level: 9

    checkMissingCallableSignature: true
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#^Return type of call to method PHPUnit\\Framework\\TestCase\:\:createMock\(\) contains unresolvable type\.$#'
        - '#^Cannot cast mixed to#'
        - '#^Method .* is unused.$#'
        - '#^Class Tests\\Unit\\Company.*Model.* was not found while trying to analyse it#'
        - message: '#Access to an undefined property PHPUnit\\Framework\\TestCase::\$.*#'
          paths:
              - examples/*
              - tests/*
              - tests-e2e/Laravel/tests/*
              - tests-e2e/Symfony/tests/*
        - message: '#Access to an undefined property .*\\Models\\.*#'
          paths:
              - examples/*
              - tests/*
              - tests-e2e/Laravel/tests/*
              - tests-e2e/Symfony/tests/*
        - message: '#Undefined variable: \$this#'
          paths:
              - examples/*
              - tests/*
              - tests-e2e/Laravel/tests/*
              - tests-e2e/Symfony/tests/*
        - message: '#Variable \$this might not be defined#'
          paths:
              - examples/*
              - tests/*
              - tests-e2e/Laravel/tests/*
              - tests-e2e/Symfony/tests/*
        - message: '#Call to an undefined method Pest#'
          paths:
              - examples/*
              - tests/*
              - tests-e2e/Laravel/tests/*
              - tests-e2e/Symfony/tests/*
        - message: '#Cannot access offset .* on mixed#'
          paths:
              - examples/*
              - tests/*
              - tests-e2e/Laravel/tests/*
              - tests-e2e/Symfony/tests/*
        - message: '#Calling putenv\(\) is forbidden#'
          paths:
              - examples/*
              - tests/*
              - tests-e2e/Laravel/tests/*
              - tests-e2e/Symfony/tests/*
        - message: '#Calling self::getContainer\(\) outside of class scope#'
          paths:
              - examples/*
              - tests/*
              - tests-e2e/Laravel/tests/*
              - tests-e2e/Symfony/tests/*
        - message: '#Call to static method .* on an unknown class Symfony\\Component\\Yaml\\Yaml#'
          paths:
              - tests-e2e/Symfony/tests/*
        - message: '#Class .* not found#'
          paths:
              - examples/*
              - tests/*
              - tests-e2e/Laravel/tests/*
              - tests-e2e/Symfony/tests/*
        - message: '#Function .* not found#'
          paths:
              - examples/*
              - tests/*
              - tests-e2e/Laravel/tests/*
              - tests-e2e/Symfony/tests/*
        - message: '#Instantiated class .* not found#'
          paths:
              - examples/*
              - tests/*
              - tests-e2e/Laravel/tests/*
              - tests-e2e/Symfony/tests/*
        - message: '#Parameter \#\d+ .* of class .* constructor expects .* given#'
          paths:
              - examples/*
              - tests/*
              - tests-e2e/Laravel/tests/*
              - tests-e2e/Symfony/tests/*
        - message: '#.* on an unknown class E2E\\.*#'
          paths:
              - examples/*
              - tests/*
              - tests-e2e/Laravel/tests/*
              - tests-e2e/Symfony/tests/*
        - message: '#.* has invalid type E2E\\.*#'
          paths:
              - examples/*
              - tests/*
              - tests-e2e/Laravel/tests/*
              - tests-e2e/Symfony/tests/*
        - message: '#Call to method .* on an unknown class Illuminate\\.*#'
          paths:
              - examples/*
              - tests/*
              - tests-e2e/Laravel/tests/*
              - tests-e2e/Symfony/tests/*
        - message: '#Unable to resolve the template type .* in call to (function expect|method Pest\\Expectation)#'
          paths:
              - examples/*
              - tests/*
              - tests-e2e/Laravel/tests/*
              - tests-e2e/Symfony/tests/*
        - message: '#Parameter \#\d+ .* expects .*, mixed given#'
          paths:
              - examples/*
              - tests/*
              - tests-e2e/Laravel/tests/*
              - tests-e2e/Symfony/tests/*
        - message: '#Parameter \#\d+ .* expects .*, string\|false given#'
          paths:
              - examples/*
              - tests/*
              - tests-e2e/Laravel/tests/*
              - tests-e2e/Symfony/tests/*
        - message: '#Parameter \#1 \$value of function expect expects non-empty-array\|null, non-empty-array given#'
          paths:
              - examples/*
              - tests/*
              - tests-e2e/Laravel/tests/*
              - tests-e2e/Symfony/tests/*
        - message: '#Parameter \#1 \$value of function count expects array\|Countable, list<string>\|false given#'
          paths:
              - examples/*
              - tests/*
              - tests-e2e/Laravel/tests/*
              - tests-e2e/Symfony/tests/*
        - message: '#Cannot access offset .* on list<string>\|false#'
          paths:
              - examples/*
              - tests/*
              - tests-e2e/Laravel/tests/*
              - tests-e2e/Symfony/tests/*
        - message: '#Call to .* on an unknown class App\\Kernel#'
          paths:
              - examples/*
              - tests/*
              - tests-e2e/Laravel/tests/*
              - tests-e2e/Symfony/tests/*
        - message: '#Call to an undefined (static )?method InitTest::.*#'
          paths:
              - examples/*
              - tests/*
              - tests-e2e/Laravel/tests/*
              - tests-e2e/Symfony/tests/*
        - message: '#Class InitTest extends unknown class .*#'
          paths:
              - examples/*
              - tests/*
              - tests-e2e/Laravel/tests/*
              - tests-e2e/Symfony/tests/*
        - message: '#Calling exec\(\) is forbidden#'
          paths:
              - examples/*
              - scripts/*
              - tests/*
              - tests-e2e/Laravel/tests/*
              - tests-e2e/Symfony/tests/*
        - message: '#Access to an undefined property .*#'
          paths:
              - */Models/*
        - message: '#Class Tests\\(Utils|utils)\\Models\\.* referenced with incorrect case#'
          paths:
              - tests/utils/Models/*
        - message: '#Generic type .* in PHPDoc tag @return does not specify all template types#'
          paths:
              - tests/utils/Models/*
        - message: '#Method Tests\\(Utils|utils)\\Models\\.* should return .* but returns .*#'
          paths:
              - tests/utils/Models/*

    disallowedFunctionCalls:
        -
            function: 'var_dump()'  # `method` is an alias of `function`
            message: 'use logger instead'
            allowIn:
                # - examples/*
        -
            function: 'print_r()'
            message: 'use logger instead'
            allowIn:
                # - examples/*
        -
            function: 'dd()'
            message: 'use logger instead'
        -
            function: 'die()'
            message: 'Oh my God, they killed Kenny! - You bastards!'

    ergebnis:
        final:
            enabled: false
            allowAbstractClasses: true
        finalInAbstractClass:
            enabled: false
        noExtends:
            enabled: false
        testCaseWithSuffix:
            enabled: true
        noNullableReturnTypeDeclaration:
            enabled: false
        noParameterWithNullableTypeDeclaration:
            enabled: false
        noParameterWithNullDefaultValue:
            enabled: false
        noParameterWithContainerTypeDeclaration:
            enabled: false
        noConstructorParameterWithDefaultValue:
            enabled: false
        noCompact:
            enabled: false
        noEval:
            enabled: true
        noErrorSuppression:
            enabled: false
        noIsset:
            enabled: false
        noSwitch:
            enabled: false
        declareStrictTypes:
            enabled: false
        privateInFinalClass:
            enabled: true
        noNamedArgument:
            enabled: false
        noParameterPassedByReference:
            enabled: false
        noAssignByReference:
            enabled: false
