includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    #- vendor/jangregor/phpstan-prophecy/extension.neon
    #- vendor/phpstan/phpstan-mockery/extension.neon
    - vendor/phpat/phpat/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - vendor/ergebnis/phpstan-rules/rules.neon
    - vendor/timeweb/phpstan-enum/extension.neon

parameters:
    paths:
        - benchmarks
        # - examples
        - scripts
        - src
        - tests
        - types

    excludePaths:
        - src/Symfony
        - src/Laravel/Commands
        - src/Laravel/DTOFormRequest.php
        - src/Laravel/DTOServiceProvider.php
        - src/Laravel/DTOValueResolver.php
        - tests/Unit/LaravelAttributesAutoloadTest.php
        - '*.stub.php'
        - tests-e2e/*/vendor

    scanDirectories:
        - types

    universalObjectCratesClasses:
        - Pest\Mixins\Expectation

    tmpDir: build/phpstan

    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    editorUrlTitle: '%%relFile%%:%%line%%'

    level: 9

    checkMissingCallableSignature: true

    treatPhpDocTypesAsCertain: false

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#^Return type of call to method PHPUnit\\Framework\\TestCase\:\:createMock\(\) contains unresolvable type\.$#'
        - '#^Cannot cast mixed to#'
        - '#^Method .* is unused.$#'
        - '#^Class Tests\\Unit\\Company.*Model.* was not found while trying to analyse it#'
        - message: '#Access to an undefined property PHPUnit\\Framework\\TestCase::\$.*#'
          paths:
              - tests/*
        - message: '#Access to an undefined property .*#'
          paths:
              - */Models/*
        - message: '#Access to an undefined property .*\\Models\\.*#'
          paths:
              - tests/*
              # - examples/*
        - message: '#Undefined variable: \$this#'
          paths:
              - tests/*
        - message: '#Variable \$this might not be defined#'
          paths:
              - tests/*
        - message: '#Call to an undefined method Pest#'
          paths:
              - tests/*
        - message: '#Cannot access offset .* on mixed#'
          paths:
              - tests/*
        - message: '#Calling exec\(\) is forbidden#'
          paths:
              - scripts/*
        - message: '#Calling putenv\(\) is forbidden#'
          paths:
              - tests/*
        - message: '#Class Tests\\(Utils|utils)\\Models\\.* referenced with incorrect case#'
          paths:
              - tests/utils/Models/*
        - message: '#Generic type .* in PHPDoc tag @return does not specify all template types#'
          paths:
              - tests/utils/Models/*
        - message: '#Method Tests\\(Utils|utils)\\Models\\.* should return .* but returns .*#'
          paths:
              - tests/utils/Models/*

    disallowedFunctionCalls:
        -
            function: 'var_dump()'  # `method` is an alias of `function`
            message: 'use logger instead'
            allowIn:
                # - examples/*
        -
            function: 'print_r()'
            message: 'use logger instead'
            allowIn:
                # - examples/*
        -
            function: 'dd()'
            message: 'use logger instead'
        -
            function: 'die()'
            message: 'Oh my God, they killed Kenny! - You bastards!'

    ergebnis:
        final:
            enabled: false
            allowAbstractClasses: true
        finalInAbstractClass:
            enabled: false
        noExtends:
            enabled: false
        testCaseWithSuffix:
            enabled: true
        noNullableReturnTypeDeclaration:
            enabled: false
        noParameterWithNullableTypeDeclaration:
            enabled: false
        noParameterWithNullDefaultValue:
            enabled: false
        noParameterWithContainerTypeDeclaration:
            enabled: false
        noConstructorParameterWithDefaultValue:
            enabled: false
        noCompact:
            enabled: false
        noEval:
            enabled: true
        noErrorSuppression:
            enabled: false
        noIsset:
            enabled: false
        noSwitch:
            enabled: false
        declareStrictTypes:
            enabled: false
        privateInFinalClass:
            enabled: true
        noNamedArgument:
            enabled: false
