# editors/ides
/.fleet
/.idea
/.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.nx

# system files
.DS_Store
Thumbs.db

# composer stuff
/vendor
composer.phar
composer.lock
auth.json

# minicli stuff
/bin/app/config/
/bin/app/logs/

# php-cs-fixer
.php-cs-fixer.cache

# phpactor stuff
.phpactor.json
.phpactor.schema.json

## devcontainer secrets
/**/.secrets/**/*
!/**/.secrets/.gitkeep

# php unit
/.phpunit.cache/test-results

# phpstan
/build/phpstan/*
/phpstan-full-output.txt

# phpbench
/.phpbench/

# coverage
/coverage
/coverage.xml
/.phpunit.result.cache

# Laravel config files (published by tests)
/config/data-helpers.php

# Laravel bootstrap cache
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep

# Laravel database
/database/database.sqlite
/database/migrations/

# Laravel logs
/storage/logs/*
/storage/framework/views/*
